*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter Tight', sans-serif;  
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 40px;
}
h3{
    color: #62bcfd;
}
.mb{
    margin-bottom: 25px;
}
.color-dev{
    color: rgb(255, 166, 0);  
}
.dis-flex{
    display: flex;
}
.width-half{
    width: 45%;
}
.width-half img {
    width: 90%;
}
.brand-sec{
    margin-top: 100px;
}
.hire-me{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    background-image: linear-gradient(rgb(241, 201, 201), rgb(141, 141, 241));
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
p{
    color: rgb(150, 148, 148);
    margin: 15px 0px;
    text-align: justify;
}
.bg-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
